docs/scratch/~$drawings.pptx
docs/scratch/drawings.pptx
docs/_build/*
code/hello_world
work/*
*.exe

*.pyc
*.ilk
*.obj
*.pdb
*.csv
code/lib/gpio.so
code/GPIO/gpio
code/AFE/CPLD/ISE/_*
code/AFE/CPLD/ISE/*.rpt
code/AFE/CPLD/ISE/*.xrpt
code/AFE/CPLD/ISE/*.bld
code/AFE/CPLD/ISE/*.*log
code/AFE/CPLD/ISE/*.n*
code/AFE/CPLD/ISE/*.chk
code/AFE/CPLD/ISE/*.cxt
code/AFE/CPLD/ISE/*.data
code/AFE/CPLD/ISE/*.gyd
code/AFE/CPLD/ISE/*.lso
code/AFE/CPLD/ISE/*.mfd
code/AFE/CPLD/ISE/*.mod
code/AFE/CPLD/ISE/*.pad
code/AFE/CPLD/ISE/*.pnx
code/AFE/CPLD/ISE/*.stx
code/AFE/CPLD/ISE/*.tim
code/AFE/CPLD/ISE/*.vm6
code/AFE/CPLD/ISE/*.syr
code/AFE/CPLD/ISE/*.tspec
code/AFE/CPLD/ISE/xlnx*
code/AFE/CPLD/ISE/*.xml
code/AFE/CPLD/ISE/t1*
code/AFE/CPLD/ISE/t55*
code/AFE/CPLD/ISE/t6*
code/AFE/CPLD/ISE/*.err
code/AFE/CPLD/ISE/*.xst
code/AFE/CPLD/ISE/*.prj
code/AFE/CPLD/ISE/afe_html/fit/applet.js
code/AFE/CPLD/ISE/afe_html/fit/appletref.htm
code/AFE/CPLD/ISE/afe_html/fit/ascii.htm
code/AFE/CPLD/ISE/afe_html/fit/ascii.tmp
code/AFE/CPLD/ISE/afe_html/fit/asciidoc.htm
code/AFE/CPLD/ISE/afe_html/fit/backtop.jpg
code/AFE/CPLD/ISE/afe_html/fit/beginstraight.gif
code/AFE/CPLD/ISE/afe_html/fit/blank.gif
code/AFE/CPLD/ISE/afe_html/fit/blank.htm
code/AFE/CPLD/ISE/afe_html/fit/briefview.jpg
code/AFE/CPLD/ISE/afe_html/fit/check.htm
code/AFE/CPLD/ISE/afe_html/fit/checkNS4.htm
code/AFE/CPLD/ISE/afe_html/fit/contact.gif
code/AFE/CPLD/ISE/afe_html/fit/coolrunner_logo.jpg
code/AFE/CPLD/ISE/afe_html/fit/coolrunnerII_logo.jpg
code/AFE/CPLD/ISE/afe_html/fit/defeqns.htm
code/AFE/CPLD/ISE/afe_html/fit/education.gif
code/AFE/CPLD/ISE/afe_html/fit/endmkt.gif
code/AFE/CPLD/ISE/afe_html/fit/eqns.htm
code/AFE/CPLD/ISE/afe_html/fit/eqns.js
code/AFE/CPLD/ISE/afe_html/fit/equations.gif
code/AFE/CPLD/ISE/afe_html/fit/equations.htm
code/AFE/CPLD/ISE/afe_html/fit/equationsdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/errors.js
code/AFE/CPLD/ISE/afe_html/fit/errors1.gif
code/AFE/CPLD/ISE/afe_html/fit/errors2.gif
code/AFE/CPLD/ISE/afe_html/fit/errorsdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/errs.htm
code/AFE/CPLD/ISE/afe_html/fit/failtable.htm
code/AFE/CPLD/ISE/afe_html/fit/failtable.js
code/AFE/CPLD/ISE/afe_html/fit/failtabledoc.htm
code/AFE/CPLD/ISE/afe_html/fit/fb.gif
code/AFE/CPLD/ISE/afe_html/fit/fb1.gif
code/AFE/CPLD/ISE/afe_html/fit/fbs_FB1.htm
code/AFE/CPLD/ISE/afe_html/fit/fbs_FB2.htm
code/AFE/CPLD/ISE/afe_html/fit/fbs_FBdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/fbs.htm
code/AFE/CPLD/ISE/afe_html/fit/fbs.js
code/AFE/CPLD/ISE/afe_html/fit/fbsdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/fbview.jpg
code/AFE/CPLD/ISE/afe_html/fit/functionblock.gif
code/AFE/CPLD/ISE/afe_html/fit/genmsg.htm
code/AFE/CPLD/ISE/afe_html/fit/header.gif
code/AFE/CPLD/ISE/afe_html/fit/home.gif
code/AFE/CPLD/ISE/afe_html/fit/index.htm
code/AFE/CPLD/ISE/afe_html/fit/inputleft.htm
code/AFE/CPLD/ISE/afe_html/fit/inputleft.js
code/AFE/CPLD/ISE/afe_html/fit/inputleftdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/leftnav.htm
code/AFE/CPLD/ISE/afe_html/fit/leftnav.js
code/AFE/CPLD/ISE/afe_html/fit/legend.gif
code/AFE/CPLD/ISE/afe_html/fit/legend.jpg
code/AFE/CPLD/ISE/afe_html/fit/logic_legXbr.htm
code/AFE/CPLD/ISE/afe_html/fit/logic_legXC95.htm
code/AFE/CPLD/ISE/afe_html/fit/logic_legXpla3.htm
code/AFE/CPLD/ISE/afe_html/fit/logicleft.htm
code/AFE/CPLD/ISE/afe_html/fit/logicleft.js
code/AFE/CPLD/ISE/afe_html/fit/logicleftdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/logiclegend.htm
code/AFE/CPLD/ISE/afe_html/fit/logiclegendV.htm
code/AFE/CPLD/ISE/afe_html/fit/macrocell.gif
code/AFE/CPLD/ISE/afe_html/fit/mapinput_00.htm
code/AFE/CPLD/ISE/afe_html/fit/mapinput_01.htm
code/AFE/CPLD/ISE/afe_html/fit/mapinput_02.htm
code/AFE/CPLD/ISE/afe_html/fit/mapinputdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/maplogic_00.htm
code/AFE/CPLD/ISE/afe_html/fit/maplogic_01.htm
code/AFE/CPLD/ISE/afe_html/fit/maplogic_02.htm
code/AFE/CPLD/ISE/afe_html/fit/maplogic.js
code/AFE/CPLD/ISE/afe_html/fit/maplogicdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/newappletref.htm
code/AFE/CPLD/ISE/afe_html/fit/next.jpg
code/AFE/CPLD/ISE/afe_html/fit/ns4plugin.js
code/AFE/CPLD/ISE/afe_html/fit/options.htm
code/AFE/CPLD/ISE/afe_html/fit/optionsdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/paths.js
code/AFE/CPLD/ISE/afe_html/fit/pin_legXbr.htm
code/AFE/CPLD/ISE/afe_html/fit/pin_legXC95.htm
code/AFE/CPLD/ISE/afe_html/fit/pin_legXpla3.htm
code/AFE/CPLD/ISE/afe_html/fit/pin.gif
code/AFE/CPLD/ISE/afe_html/fit/pindiagram.gif
code/AFE/CPLD/ISE/afe_html/fit/pinlegend.htm
code/AFE/CPLD/ISE/afe_html/fit/pinlegendV.htm
code/AFE/CPLD/ISE/afe_html/fit/pins.htm
code/AFE/CPLD/ISE/afe_html/fit/pins.js
code/AFE/CPLD/ISE/afe_html/fit/pinsdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/pinview.jpg
code/AFE/CPLD/ISE/afe_html/fit/plugin.js
code/AFE/CPLD/ISE/afe_html/fit/prev.jpg
code/AFE/CPLD/ISE/afe_html/fit/print.jpg
code/AFE/CPLD/ISE/afe_html/fit/products.gif
code/AFE/CPLD/ISE/afe_html/fit/purchase.gif
code/AFE/CPLD/ISE/afe_html/fit/report.htm
code/AFE/CPLD/ISE/afe_html/fit/result.htm
code/AFE/CPLD/ISE/afe_html/fit/search.gif
code/AFE/CPLD/ISE/afe_html/fit/spacer.gif
code/AFE/CPLD/ISE/afe_html/fit/style.css
code/AFE/CPLD/ISE/afe_html/fit/summary.htm
code/AFE/CPLD/ISE/afe_html/fit/summary.js
code/AFE/CPLD/ISE/afe_html/fit/summarydoc.htm
code/AFE/CPLD/ISE/afe_html/fit/support.gif
code/AFE/CPLD/ISE/afe_html/fit/time.htm
code/AFE/CPLD/ISE/afe_html/fit/tooltips.js
code/AFE/CPLD/ISE/afe_html/fit/topnav.htm
code/AFE/CPLD/ISE/afe_html/fit/topnav.js
code/AFE/CPLD/ISE/afe_html/fit/unmapinputdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/unmaplogicdoc.htm
code/AFE/CPLD/ISE/afe_html/fit/verboseview.jpg
code/AFE/CPLD/ISE/afe_html/fit/view.gif
code/AFE/CPLD/ISE/afe_html/fit/wait.htm
code/AFE/CPLD/ISE/afe_html/fit/xc9500_logo.gif
code/AFE/CPLD/ISE/afe_html/fit/xc9500_logo.jpg
code/AFE/CPLD/ISE/afe_html/fit/xc9500xl_logo.gif
code/AFE/CPLD/ISE/afe_html/fit/xc9500xl_logo.jpg
code/AFE/CPLD/ISE/afe_html/fit/xc9500xv_logo.jpg
code/AFE/CPLD/ISE/afe_html/fit/xcenter.gif
code/AFE/CPLD/ISE/afe_html/fit/xlogo.gif
code/AFE/CPLD/ISE/afe_html/fit/xml5.jpg
code/AFE/CPLD/ISE/afe_html/fit/xml6.jpg
code/AFE/CPLD/ISE/afe_html/fit/xml7.jpg
code/AFE/CPLD/ISE/afe_html/fit/xml8.jpg
code/AFE/CPLD/ISE/afe_html/images/acr2_logo.jpg
code/AFE/CPLD/ISE/afe_html/images/blackBar.jpg
code/AFE/CPLD/ISE/afe_html/images/cpldBanner.jpg
code/AFE/CPLD/ISE/afe_html/images/cr2s_logo.jpg
code/AFE/CPLD/ISE/afe_html/images/fitterRpt.jpg
code/AFE/CPLD/ISE/afe_html/images/logo.jpg
code/AFE/CPLD/ISE/afe_html/images/spacer.jpg
code/AFE/CPLD/ISE/afe_html/images/timingRpt.jpg
code/AFE/CPLD/ISE/afe_html/images/xa9500xl_logo.jpg
code/AFE/CPLD/ISE/afe_html/images/xbr_logo.jpg
code/AFE/CPLD/ISE/afe_html/images/xc9500_logo.jpg
code/AFE/CPLD/ISE/afe_html/images/xc9500xl_logo.jpg
code/AFE/CPLD/ISE/afe_html/images/xc9500xv_logo.jpg
code/AFE/CPLD/ISE/afe_html/images/xpla3_logo.jpg
code/AFE/CPLD/ISE/afe_html/tim/cpldta_glossary.htm
code/AFE/CPLD/ISE/afe_html/tim/cpldta_style.css
code/AFE/CPLD/ISE/afe_html/tim/genreport.htm
code/AFE/CPLD/ISE/afe_html/tim/leftnav.htm
code/AFE/CPLD/ISE/afe_html/tim/report.htm
code/AFE/CPLD/ISE/afe_html/tim/timing_report.htm
code/AFE/CPLD/ISE/afe_html/tim/toc.css
code/AFE/CPLD/ISE/afe_html/tim/topnav.htm
code/AFE/CPLD/ISE/afe_summary.html
code/AFE/CPLD/ISE/afe_envsettings.html
code/AFE/CPLD/ISE/iseconfig/afe.xreport
code/AFE/CPLD/ISE/iseconfig/afe.xreport
