docs/scratch/~$drawings.pptx
docs/scratch/drawings.pptx
docs/_build/*
code/hello_world
work/*
*.exe
*.png
*.pyc
*.ilk
*.obj
*.pdb
*.csv
code/lib/gpio.so
code/GPIO/gpio
code/AFE/CPLD/ISE/_*
code/AFE/CPLD/ISE/*.rpt
code/AFE/CPLD/ISE/*.xrpt
code/AFE/CPLD/ISE/*.bld
code/AFE/CPLD/ISE/*.*log
code/AFE/CPLD/ISE/*.n*
code/AFE/CPLD/ISE/*.chk
code/AFE/CPLD/ISE/*.cxt
code/AFE/CPLD/ISE/*.data
code/AFE/CPLD/ISE/*.gyd
code/AFE/CPLD/ISE/*.lso
code/AFE/CPLD/ISE/*.mfd
code/AFE/CPLD/ISE/*.mod
code/AFE/CPLD/ISE/*.pad
code/AFE/CPLD/ISE/*.pnx
code/AFE/CPLD/ISE/*.stx
code/AFE/CPLD/ISE/*.tim
code/AFE/CPLD/ISE/*.vm6
code/AFE/CPLD/ISE/*.syr
code/AFE/CPLD/ISE/*.tspec
code/AFE/CPLD/ISE/xlnx*
code/AFE/CPLD/ISE/*.xml
code/AFE/CPLD/ISE/t1*
code/AFE/CPLD/ISE/t55*
code/AFE/CPLD/ISE/t6*
code/AFE/CPLD/ISE/*.err
code/AFE/CPLD/ISE/*.xst
code/AFE/CPLD/ISE/*.prj
code/AFE/CPLD/ISE/afe_html/
code/AFE/CPLD/ISE/afe_summary.html
code/AFE/CPLD/ISE/afe_envsettings.html
code/AFE/CPLD/ISE/iseconfig/*.xreport
code/AFE/CPLD/ISE/iseconfig/afe.xreport
code/AFE/CPLD/ISE/afe_solution_html*
code/AFE/CPLD/ISE/isim*
code/AFE/CPLD/ISE/*html

!test.csv
code/AFE/CPLD/ISE/iseconfig/afe.xreport
code/AFE/CPLD/ISE/iseconfig/afe.xreport
code/AFE/CPLD/ISE/default.wcfg
code/AFE/CPLD/ISE/fuse.xmsgs
code/AFE/CPLD/ISE/fuse.xmsgs
